body {
    color: var(--text-color--);
    background-color: #262A2E;
    box-sizing: border-box;
}

a {
    color: var(--text-color--);
    text-decoration: none;
}

/* .posts {
    display: flex;

} */

.post {
    display: flex;
    position: relative;
    width: 60%;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--header-menu--);
}

.post-img {
    width: 270px;
    margin-right: 16px;
}

.post-img a {
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 16px;
}

.post-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.post-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post-tag a{
    display: block;
    width: fit-content;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #262A2E;
    font-size: 1.2rem;
    border-radius: 16px;
}

.post-title a{
    --max-line: 2;
    font-size: 3rem;
    line-height: 3.2rem;
    
}

.post-desc {
    --max-line: 3;
    display: -webkit-box;
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-line);
}

.subcontent {
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    font-size: 1.5rem;
    opacity: .5;
}

.subcontent > div {
    margin-right: 20px;
}

.subcontent i{
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;;
}