body {
    color: var(--text-color--);
    background-color: #262A2E;
    box-sizing: border-box;
}

a {
    color: var(--text-color--);
    text-decoration: none;
}

.allpost-wrap {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 30%;
    height: fit-content;
    padding: 20px;
    margin-top: 35px;
    border-radius: 16px;
    background-color: var(--header-menu--);
}

.posts {
    width: 70%;
}

/* -------------------Sidebar-Search-------------------------- */

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.search-bar input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 2rem;
}

.search-bar i {
    color: black;
    font-size: 2rem;
    padding-left: 5px;
}

/* -------------------Sidebar-Categories-------------------------- */

.sidebar-heading {
    font-size: 2.6rem;
    margin: 40px 0 20px;
    color: var(--blue-color--);
}

.sidebar-categories ul {
    padding: 0 20px;
}

.sidebar-categories ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-bottom: 1px solid white;
}

.sidebar-categories ul li div:first-child {
    padding: 5px 0;
}
/* most popular--------------------------- */
.most-popular-post{
    display: flex;
    margin-bottom: 40px;
}

.most-popular-post-img{
    width: 20%;
    margin-right: 10px;
}

.most-popular-post-img a{
    display: block;
    border-radius: 100%;
    overflow: hidden;
}

.most-popular-post-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;

}

.most-popular-post-desc {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-bottom: 1px solid white;
}

.most-popular-post-desc p {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.post {
    display: flex;
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--header-menu--);
}

.post-img {
    width: 270px;
    margin-right: 16px;
}

.post-img a {
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 16px;
}

.post-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.post-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post-tag a{
    display: block;
    width: fit-content;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #262A2E;
    font-size: 1.2rem;
    border-radius: 16px;
}

.post-title a{
    --max-line: 2;
    font-size: 3rem;
    line-height: 3.2rem;
    
}

.post-desc {
    --max-line: 3;
    display: -webkit-box;
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-line);
}

.subcontent {
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    opacity: .5;
}

.subcontent > div {
    margin-right: 20px;
}

.subcontent i{
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;;
}


@media screen and (max-width: 850px){
    .post {
        flex-direction: column;
    }
    .post-img {
        width: 100%;
    }
    .post-img a {
        aspect-ratio: 2/1;
    }
}

@media screen and (max-width: 700px){
    .allpost-wrap {
        flex-direction: column;
        position: relative;
    }
    .posts{
        width: 90%;
    }
    .sidebar{
        width: 90%;
    }
    .search-bar{
        position: absolute;
        top:10px;
        width: 90%;
        margin: 20px 0;
    }
    .posts {
        margin-top: 50px;
    }
}